@import url('variables.css');


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ACCUEIL */

#openRules, #cleanScores, #closeRules, #openUpdates, #closeUpdates {
    width: 100%;
    margin: 5px 0 5px;
}

dialog {
    width: 80%;
    max-height: 85%;
}

dialog p {
    margin: 10px;
}

h1 {
    font-size: 2.5rem;
}

.context {
    padding: 5% 6% 5%;
    margin: 7% 0 20%;
}

.context p {
    font-size: 1.2rem;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* STATISTIQUES */

.iaStat, .userStat {
    width: 100%;
}

.userStat {
    margin-bottom: 80px;
}

.iaStat {
    margin-top: 50px;
}

.moreInfo {
    margin-bottom: 20px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* DÉPART */

.noGameStart {
    height: 80vh;
}

#startGame {
    min-width: 90%;
    margin-bottom: 30px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* COMBAT */

#mainPart {
    width: 100%;
}

h3 {
    font-size: var(--font-medium-size);
    margin-bottom: 0;
}

.frameImg {
    width: 90%;
}

#vs p {
    font-family: var(--special-font);
    font-size: var(--font-tall-size);
}

.normalCharacters, .specialCharacters {
    padding: 10px 10px 10px;
}

.character {
    margin: 5px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* TRICHE */

.cheatCharacter input {
    width: 100px;
    height: 140px;
}

.chooseResult button, .chooseEvent button, .chooseCard button {
    width: 90%;
    margin: 4px 0px 4px;
}

#cheat {
    width: 80%;
}

#surrend {
    width: 100%;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE ÉVÉNEMENT */

#eventImg {
    width: 100%;
}

#eventText {
    padding: 20px 20px 20px;
}

#eventEffect {
    padding: 50px 20px 50px;
}

#following, #finished {
    width: 90%;
    margin-bottom: 20px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE FINALE */

.resultGame {
    padding: 30px 0 50px;
}

.banner {
    margin: 50px 0 50px;
}

.resultGame h4 {
    font-size: 4rem;
}

.takeReward, #restart {
    width: 90%;
    padding: 10px 0 10px;
    margin: 20px 0 10px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RECOMPENSE */

.presentation {
    margin: 50px 0 20px;
}

.presentationText {
    width: 90%;
}
