/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SPECIAL */

.hide {
    display: none;
}

.inactive {
    filter: grayscale(100) !important;
    transform: scale(1) !important;
    cursor: default !important;
    box-shadow: none !important;
}

.fail {
    background-image: url(../img/background/fail.jpg);
}

.success {
    background-image: url(../img/background/success.jpg);
}

.equal {
    background-image: url(../img/background/equal.jpg);
}

.eventGameDisplay.event {
    /* background-image: url(../img/background/event.jpg); */
    background-color: var(--beige-filter-color);
    color: var(--dark-brown-color);
}