@import url('variables.css');

* {
    font-family: var(--main-font);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--special-font);
}

i {
    font-size: var(--font-tall-size);
}

button {
    cursor: pointer;
}

body {
    background-color: bisque;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ACCUEIL */

#openRules, #cleanScores {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
    padding: 15px 0 15px;
}

#closeRules {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
    padding: 5px 0 5px;
}

.context {
    background-color: brown;
}

h1 {
    font-size: 3rem;
}

.context p {
    font-size: var(--font-medium-size);
}

#rules::backdrop {
    background-color: green;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* STATISTIQUES */

.userGlobalStat, .iaGlobalStat {
    background-color: aqua;
}

.userGameStat, .iaGameStat {
    background-color: blue;
}

.userGameStat, .iaGameStat, .userGlobalStat, .iaGlobalStat {
    padding: 20px 0;
}

.titleStat {
    
    background-color: blueviolet;
    padding: 10px;
}

.statButton {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
    font-weight: bold;
    background-color: blueviolet;
    border: var(--border-brown-double);
    width: 100%;
    padding: 10px;
    margin: 20px 0 20px;
}

.iconStat {
    width: 15%;
}

.moreInfo {
    margin-top: 20px;
}

.more {
    font-family: var(--special-font);
    font-size: 1.2rem;
    width: 100%;
    padding: 15px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* DÉPART */

.noGameStart {
    display: flex;
    justify-content: center;
    align-items: end;
    border: var(--border-brown-double);
}

#startGame {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
    padding: 20px 0 20px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* COMBAT */

.gamesNumber {
    background-color: crimson;
    padding: 30px 0 20px;
    margin-bottom: 30px;
}

.gamesNumber h2 {
    font-size: var(--font-medium-size);
    margin-top: 0;
}

#gamesNumber {
    font-size: var(--font-medium-size);
}

.fight {
    border: var(--border-brown-double);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.fight h2, #roundResult {
    font-size: var(--font-tall-size);
}

#roundNumber, .score {
    font-size: var(--font-medium-size);
}

.frameImg {
    margin: 20px 0 20px;
}

#explainEvent {
    font-size: 1.2rem;
}

.userCharacters {
    margin-top: auto;
}

.normalCharacters {
    background-color: aquamarine;
}

.specialCharacters {
    background-color: aqua;
}

.normalCharacters, .specialCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0 10px;
}

.character {
    display: flex;
}

.character input {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: var(--border-beige-double);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* TRICHE */

.cheating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    padding: 20px 0 20px;
}

.cheatingEnter {
    width: 100%;
}

.choosingCheat {
    width: 100%;
}

.closeCheat {
display: flex;
justify-content: end;
padding-bottom: 20px;
}

#closeCheat {
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.cheatCharacter input {
    object-fit: cover;
}

.chooseCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chooseEvent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0 20px;
}

.chooseResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0 20px;
}

.chooseResult button, .chooseEvent button {
    font-family: var(--special-font);
    font-size: var(--font-normal-size);
    padding: 9px 0 9px;
}

#cheat {
    font-family: var(--special-font);
    font-size: var(--font-normal-size);
    padding: 5px 0 5px;
}

#surrend {
    font-family: var(--special-font);
    font-size: 1.5rem;
    height: 60px;
    margin: 30px 0 30px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE ÉVÉNEMENT */

.eventGameDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60%;
    padding: 30px 0 0;
    border: var(--border-brown-double);
}

#eventEffect {
    font-weight: bold;
}

#following, #finished {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
    padding: 10px 0px 10px;
    
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE FINALE */

.resultGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    position: relative;
}

.resultGame h4 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.takeReward, #restart {
    font-family: var(--special-font);
    font-size: var(--font-medium-size);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RECOMPENSE */

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.reward {
    font-size: 1.2rem;
}

span {
    font-weight: bold;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* KEYFRAMES */

@keyframes shadowPulseNormal {
    50% {
        box-shadow: 0px 0px 20px green;
    }
}

@keyframes shadowPulseSpecial {
    50% {
        box-shadow: 0px 0px 20px red;
    }
}