:root {
  --brown-color: #805b2d;
  --dark-brown-color: #473217;
  --green-color: #516d61;
  --light-green-color: #809549;
  --beige-color: #c1a677;
  --light-beige-color: #d1c4ac;
  --green-filter-color: #516d619c;
  --brown-filter-color: #805b2db2;
  --beige-filter-color: #c1a677b7;
  --special-font: "Permanent Marker", cursive;
  --main-font: "Tiro Tamil", serif;
  --font-normal-size: 1rem;
  --font-ideal-size: 1.2rem;
  --font-medium-size: 1.5rem;
  --font-tall-size: 2rem;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --text-shadow: 1px 1px 4px #3B3939;
  --border-brown-double: double 4px var(--brown-color);
  --border-green-double: double 4px var(--green-color);
  --border-beige-double: double 4px var(--beige-color);
  --border-beige-dotted: dotted 1px var(--beige-color);
  --border-brown-dotted: dotted 1px var(--brown-color);
  --border-green-dotted: dotted 1px var(--green-color);
}

* {
  font-family: var(--main-font);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--special-font);
}

i {
  font-size: var(--font-tall-size);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--brown-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #394d44;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
}

#openRules, #cleanScores, #openUpdates {
  width: 100%;
  margin: 5px 0 5px;
}
@media only screen and (min-width: 768px) {
  #openRules, #cleanScores, #openUpdates {
    width: 35%;
    padding: 15px 0px 15px;
    margin: 10px 10px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #openRules, #cleanScores, #openUpdates {
    width: 15%;
    margin: 20px 20px 0px;
  }
}

#closeRules, #closeUpdates {
  width: 100%;
  margin: 5px 0 5px;
}
@media only screen and (min-width: 768px) {
  #closeRules, #closeUpdates {
    width: 35%;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #closeRules, #closeUpdates {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1200px) {
  .principal {
    flex-wrap: nowrap;
  }
}

#rules, #updates {
  background-color: var(--beige-color);
  color: var(--dark-brown-color);
  font-size: var(--font-ideal-size);
  box-shadow: var(--box-shadow);
}
#rules::backdrop, #updates::backdrop {
  background-color: rgba(81, 109, 97, 0.6117647059);
}

#rules h2 {
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  padding: 10px 0 10px;
  margin-bottom: 100px;
}

.headerUpdates {
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

#previousUpdate, #nextUpdate {
  background-color: transparent;
  color: var(--light-beige-color);
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}
#previousUpdate:hover, #nextUpdate:hover {
  color: var(--beige-color);
  border: var(--border-beige-double);
}

.version, #versionNumber {
  font-size: 1rem;
}

dialog {
  width: 80%;
  max-height: 85%;
}
dialog ul {
  margin: 30px 0 30px;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  dialog ul {
    margin: 30px;
  }
}
dialog p {
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  dialog p {
    margin: 30px;
  }
}
dialog hr {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: var(--border-brown-double);
}
@media only screen and (min-width: 1200px) {
  dialog {
    width: 50%;
    max-height: 85%;
  }
}

.context {
  background-color: var(--green-filter-color);
  color: var(--light-beige-color);
  box-shadow: var(--box-shadow);
  padding: 5% 6% 5%;
  margin: 7% 0 20%;
}
@media only screen and (min-width: 768px) {
  .context {
    padding: 20px 90px 20px;
    margin: 50px 0 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .context {
    padding: 20px 200px 20px;
  }
}

h1 {
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.context p {
  font-size: var(--font-medium-size);
  font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
  .context p {
    font-size: 1.5rem;
  }
}

.noGameStart {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 85vh;
  border: var(--border-brown-double);
  background-image: url(../img/background/success.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  height: 80vh;
}
@media only screen and (min-width: 768px) {
  .noGameStart {
    height: 80vh;
  }
}
@media only screen and (min-width: 1200px) {
  .noGameStart {
    height: 80%;
  }
}

#startGame {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 20px 0 20px;
  min-width: 90%;
  margin-bottom: 30px;
}
#startGame:hover {
  background-color: var(--green-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  #startGame {
    min-width: 30%;
    margin-bottom: 80px;
  }
}

#openRules, #cleanScores, #openUpdates {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 15px 0 15px;
}
#openRules:hover, #cleanScores:hover, #openUpdates:hover {
  background-color: var(--green-color);
  box-shadow: var(--box-shadow);
}

#closeRules, #closeUpdates {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 5px 0 5px;
}
#closeRules:hover, #closeUpdates:hover {
  background-color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
}

.userGlobalStat, .iaGlobalStat {
  background-color: var(--green-filter-color);
  color: var(--light-beige-color);
  border: var(--border-beige-dotted);
  box-shadow: var(--box-shadow);
  font-weight: bold;
  padding: 20px 0;
}
.userGlobalStat hr, .iaGlobalStat hr {
  border: var(--border-beige-dotted);
}

.userGameStat, .iaGameStat {
  background-color: var(--beige-filter-color);
  color: var(--dark-brown-color);
  border: var(--border-green-dotted);
  box-shadow: var(--box-shadow);
  font-weight: bold;
  padding: 20px 0;
}
.userGameStat hr, .iaGameStat hr {
  border: var(--border-green-dotted);
}

.iaStat, .userStat {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .iaStat, .userStat {
    width: 35%;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .iaStat, .userStat {
    width: 15%;
  }
}

.statButton {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  width: 100%;
  padding: 10px;
  margin: 20px 0 20px;
}
.statButton:hover {
  background-color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
}

.iconStat {
  width: 15%;
}

.moreInfo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.more {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  font-size: 1.2rem;
  width: 100%;
  padding: 15px;
}
.more:hover {
  background-color: var(--green-color);
  box-shadow: var(--box-shadow);
}

#mainPart {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  #mainPart {
    width: 60%;
  }
}

.gamesNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige-filter-color);
  color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
  padding: 30px 0 20px;
  margin-bottom: 30px;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.gamesNumber h2 {
  font-size: var(--font-medium-size);
  margin-top: 0;
}

#gamesNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--beige-color);
  border-radius: 50%;
}

.fight {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.platform {
  background-image: url(../img/background/success.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
  border: 3px solid #805b2d;
  margin-bottom: 20px;
  z-index: -2;
}

.show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.fight h2, #roundResult {
  font-size: var(--font-tall-size);
}

#roundNumber, .score {
  font-size: var(--font-medium-size);
}

.frameImg {
  margin: 20px 0 20px;
  border-radius: 50%;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .frameImg {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .frameImg {
    width: 90%;
  }
}

h3 {
  font-size: var(--font-medium-size);
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  h3 {
    margin-bottom: 10px;
  }
}

#vs p {
  font-family: var(--special-font);
  font-size: var(--font-tall-size);
}

#explainEvent {
  font-size: 1.2rem;
}

#specialText {
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}

#roundResult {
  margin: 0px 0px 30px;
}

.gameStuff {
  border: var(--border-brown-double);
  box-shadow: var(--box-shadow);
}

.userCharacters {
  margin-top: auto;
}

.normalCharacters {
  background-color: var(--green-filter-color);
}

.specialCharacters {
  background-color: var(--brown-filter-color);
  border-top: var(--border-brown-double);
}

.normalCharacters, .specialCharacters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0 10px;
}

.character {
  display: flex;
  margin: 5px;
}
@media only screen and (min-width: 768px) {
  .character {
    position: relative;
  }
}
.character input {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  .character input:hover {
    border-color: green;
  }
}
@media only screen and (min-width: 1200px) {
  .character input {
    transform: scale(1);
    transition: 1.5s;
  }
  .character input:hover {
    transform: scale(1.2);
    animation: shadowPulseNormal 1.5s infinite;
  }
}

.eventGameDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60%;
  padding: 30px 0 0;
  border: var(--border-brown-double);
  background-color: var(--green-filter-color);
  color: var(--light-beige-color);
}

#eventImg {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #eventImg {
    width: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  #eventImg {
    width: 40%;
  }
}

#eventText {
  font-size: var(--font-ideal-size);
  padding: 20px 20px 20px;
}
@media only screen and (min-width: 768px) {
  #eventText {
    padding: 50px 150px 20px;
  }
}

#eventEffect {
  font-weight: bold;
  padding: 50px 20px 50px;
}
@media only screen and (min-width: 768px) {
  #eventEffect {
    padding: 50px 150px 50px;
  }
}

#following {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 10px 0px 10px;
  width: 90%;
  margin-bottom: 20px;
}
#following:hover {
  background-color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  #following {
    width: 40%;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #following {
    min-width: 25%;
    margin-bottom: 50px;
  }
}

#finished {
  font-size: var(--font-medium-size);
  background-color: var(--green-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 10px 0px 10px;
  width: 90%;
  margin-bottom: 20px;
}
#finished:hover {
  background-color: var(--dark-brown-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  #finished {
    width: 40%;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #finished {
    min-width: 25%;
    margin-bottom: 50px;
  }
}

.cheating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--beige-filter-color);
  border-top: var(--border-brown-double);
  padding: 20px 0 20px;
}

.cheatingEnter {
  width: 100%;
}

.choosingCheat {
  width: 100%;
}

.closeCheat {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
}

#closeCheat {
  margin-right: 10px;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  #closeCheat img {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  #closeCheat img {
    width: 70%;
  }
}

h5 {
  font-size: var(--font-ideal-size);
  color: var(--dark-brown-color);
  border-top: var(--border-beige-double);
  padding: 10px 0 0;
  margin: 0;
}

.cheatCharacter input {
  width: 100px;
  height: 140px;
}
@media only screen and (min-width: 768px) {
  .cheatCharacter input {
    width: 130px;
    height: 180px;
  }
}

.chooseEvent, .chooseCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0 20px;
}

.chooseResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0 20px;
}

.chooseResult button, .chooseEvent button, .chooseCard button {
  font-size: var(--font-normal-size);
  background-color: var(--dark-brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 9px 0 9px;
  width: 90%;
  margin: 4px 0px 4px;
}
.chooseResult button:hover, .chooseEvent button:hover, .chooseCard button:hover {
  background-color: var(--brown-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  .chooseResult button, .chooseEvent button, .chooseCard button {
    width: 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .chooseResult button, .chooseEvent button, .chooseCard button {
    width: 15%;
  }
}

#cheat {
  font-size: var(--font-normal-size);
  background-color: var(--dark-brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  padding: 5px 0 5px;
  width: 80%;
}
#cheat:hover {
  background-color: var(--brown-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  #cheat {
    width: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  #cheat {
    width: 15%;
  }
}

#passwordSection {
  color: var(--dark-brown-color);
  font-weight: bold;
}

#password {
  height: 30px;
  color: var(--dark-brown-color);
  border: var(--border-beige-dotted);
}

#password:focus {
  outline: none;
}

#surrend {
  font-size: var(--font-normal-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
  font-size: 1.5rem;
  height: 60px;
  margin: 30px 0 30px;
  width: 100%;
}
#surrend:hover {
  background-color: var(--green-color);
  box-shadow: var(--box-shadow);
}
@media only screen and (min-width: 768px) {
  #surrend {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  #surrend {
    width: 25%;
  }
}

.resultGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 50px;
}
@media only screen and (min-width: 768px) {
  .resultGame {
    padding: 80px 0 0px;
  }
}

#resultSentence {
  background-color: var(--brown-filter-color);
  font-size: var(--font-ideal-size);
  color: var(--light-beige-color);
  box-shadow: var(--box-shadow);
  padding: 10px 30px 10px;
}
@media only screen and (min-width: 768px) {
  #resultSentence {
    font-size: 1.2rem;
  }
}

.banner {
  position: relative;
  margin: 50px 0 50px;
}
@media only screen and (min-width: 768px) {
  .banner {
    margin: 80px 0 60px;
  }
}

.resultGame h4 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  color: var(--dark-brown-color);
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 4rem;
}
@media only screen and (min-width: 768px) {
  .resultGame h4 {
    font-size: 5rem;
  }
}

.takeReward {
  font-size: var(--font-medium-size);
  background-color: var(--green-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
}
.takeReward:hover {
  background-color: var(--beige-color);
  box-shadow: var(--box-shadow);
}

#restart {
  font-size: var(--font-medium-size);
  background-color: var(--brown-color);
  color: var(--light-beige-color);
  font-family: var(--special-font);
  border: var(--border-beige-double);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  cursor: pointer;
  transition: 1s;
}
#restart:hover {
  background-color: var(--green-color);
  box-shadow: var(--box-shadow);
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 20px;
}
@media only screen and (min-width: 768px) {
  .presentation {
    margin: 50px 0 50px;
  }
}

.presentationText {
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .presentationText {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .presentationText {
    width: 60%;
  }
}

.reward {
  font-size: 1.2rem;
  background-color: var(--brown-filter-color);
  color: var(--light-beige-color);
  border: var(--border-beige-dotted);
}

.rewardImg {
  border: var(--border-beige-double);
}

span {
  font-weight: bold;
}

#postNote {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  #banner {
    width: 100%;
  }
}

.takeReward, #restart {
  width: 90%;
  padding: 10px 0 10px;
  margin: 20px 0 10px;
}
@media only screen and (min-width: 768px) {
  .takeReward, #restart {
    width: 60%;
    padding: 20px 50px 20px;
    margin: 30px 0 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .takeReward, #restart {
    min-width: 30%;
    padding: 20px 50px 20px;
    margin: 30px 0 30px;
  }
}

.hide {
  display: none;
}

.inactive {
  filter: grayscale(100) !important;
  transform: scale(1) !important;
  cursor: default !important;
  box-shadow: none !important;
}

.fail {
  background-image: url(../img/background/fail.webp);
}

.success {
  background-image: url(../img/background/success.webp);
}

.equal {
  background-image: url(../img/background/equal.webp);
}

.eventGameDisplay.event {
  background-color: var(--beige-filter-color);
  color: var(--dark-brown-color);
}

@keyframes shadowPulseNormal {
  0% {
    box-shadow: 0 0 0 0 rgba(178, 149, 106, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(178, 149, 106, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(178, 149, 106, 0);
  }
}
body {
  background-image: url("../img/background/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
