@import url('variables.css');



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* ACCUEIL */

nav {
    display: flex;
    justify-content: space-between;
}

#openRules, #cleanScores {
    width: 35%;
    padding: 15px 0 15px;
}

#closeRules {
    width: 20%;
    margin-top: 20px;
}

.context {
    padding: 20px 90px 20px;
    margin: 50px 0 50px;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* STATISTIQUES */

.iaStat, .userStat {
    width: 35%;
    order: -1;
    margin-bottom: 50px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* DÉPART */

.noGameStart {
    height: 80vh;
}

#startGame {
    min-width: 30%;
    margin-bottom: 80px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* COMBAT */

#mainPart {
    width: 100%;
}

.frameImg {
    width: 100%;
}

#vs p {
    font-family: var(--special-font);
    font-size: var(--font-tall-size);
}

.character {
    position: relative;
}

.character input {
    transform: scale(1);
    transition: 1.5s;
}

.character input:hover {
    transform: scale(1.2);
}

.normalCharacters input:hover {
    border-color: green;
    animation: shadowPulseNormal 3s infinite;
}

.specialCharacters input:hover {
    border-color: red;
    animation: shadowPulseSpecial 3s infinite;
}

/* .character:hover::after {
    width: auto;
    transform: translate(-50%, -50%);
    top: -50%;
    left: 150%;
    content: attr(title);
    padding: 10px;
    color: white;
    background-color: black;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
} */


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* TRICHE */

#closeCheat img {
    width: 80%;
}

.cheatCharacter input {
    width: 130px;
    height: 180px;
}

.chooseResult button, .chooseEvent button {
    width: 20%;
}

#cheat {
    width: 25%;
}

#surrend {
    width: 40%;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE ÉVÉNEMENT */

#eventImg {
    width: 55%;
}

#eventText {
    padding: 50px 150px 20px;
}

#eventEffect {
    padding: 50px 150px 50px;
}

#following, #finished {
    width: 40%;
    margin-bottom: 50px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* SCÈNE FINALE */

.resultGame {
    padding: 80px 0 0px;
}

#resultSentence {
    font-size: 1.2rem;
}

.banner {
    margin: 80px 0 60px;
}

.resultGame h4 {
    font-size: 5rem;
}

.takeReward, #restart {
    width: 60%;
    padding: 20px 50px 20px;
    margin: 30px 0 30px;
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RECOMPENSE */

.presentation {
    margin: 50px 0 50px;
}

.presentationText {
    width: 50%;
}
