:root {
    --brown-color: #805b2d;
    --green-color: #516d61;
    --beige-color: #c1a677;

    --green-filter-color: #516d6183;

    --special-font: 'Permanent Marker', cursive;
    --main-font: 'Tiro Tamil', serif;
    --font-normal-size: 1rem;
    --font-medium-size: 1.5rem;
    --font-tall-size: 2rem;

    --border-brown-double: double 7px var(--brown-color);
    --border-green-double: double 7px var(--green-color);
    --border-beige-double: double 7px var(--beige-color);
}