// =================================================================================================================================
// ---------------------------------------------------------------------------------------------------------------------------------
// TRICHE

@use 'media' as *;
@use 'mixins' as *;


.cheating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige-filter-color);
    border-top: var(--border-brown-double);
    padding: 20px 0 20px;
}

.cheatingEnter {
    width: 100%;
}

.choosingCheat {
    width: 100%;
}

.closeCheat {
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

#closeCheat {
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

h5 {
    font-size: var(--font-ideal-size);
    color: var(--dark-brown-color);
    border-top: var(--border-beige-double);
    padding: 10px 0 0;
    margin: 0;
}

.chooseEvent,.chooseCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0 20px;
}

.chooseResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0 20px;
}

.chooseResult button, .chooseEvent button, .chooseCard button {
    @include button(--font-normal-size, --dark-brown-color, --light-beige-color, --brown-color);
    padding: 9px 0 9px;

    @include xl {
        width: 15%;
    } 
}

#cheat {
    @include button(--font-normal-size, --dark-brown-color, --light-beige-color, --brown-color);
    padding: 5px 0 5px;

    @include xl {
        width: 15%;
    } 
}

#passwordSection {
    color: var(--dark-brown-color);
    font-weight: bold;
}

#password {
    height: 30px;
    color: var(--dark-brown-color);
    border: var(--border-beige-dotted);
}

#password:focus {
    outline: none;
}

#surrend {
    @include button(--font-normal-size, --brown-color, --light-beige-color, --green-color);
    font-size: 1.5rem;
    height: 60px;
    margin: 30px 0 30px;

    @include xl {
        width: 25%;
    }
}