// =================================================================================================================================
// ---------------------------------------------------------------------------------------------------------------------------------
// SCÈNE ÉVÉNEMENT

@use 'media' as *;
@use 'mixins' as *;


.eventGameDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60%;
    padding: 30px 0 0;
    border: var(--border-brown-double);
    background-color: var(--green-filter-color);
    color: var(--light-beige-color);
}

#eventImg {

    width: 100%;

    @include md {
        width: 55%;
    }

    @include xl {
        width: 40%;
    }
}

#eventText {
    font-size: var(--font-ideal-size);
    padding: 20px 20px 20px;

    @include md {
        padding: 50px 150px 20px;
    }
}

#eventEffect {
    font-weight: bold;
    padding: 50px 20px 50px;

    @include md {
        padding: 50px 150px 50px;
    } 
}


#following {
    @include button(--font-medium-size, --brown-color, --light-beige-color, --dark-brown-color);
    padding: 10px 0px 10px;

    width: 90%;
    margin-bottom: 20px;

    @include md {
        width: 40%;
        margin-bottom: 50px;
    } 

    @include xl {
        min-width: 25%;
        margin-bottom: 50px;
    }
}


#finished {
    @include button(--font-medium-size, --green-color, --light-beige-color, --dark-brown-color);
    padding: 10px 0px 10px;

    width: 90%;
    margin-bottom: 20px;

    @include md {
        width: 40%;
        margin-bottom: 50px;
    } 

    @include xl {
        min-width: 25%;
        margin-bottom: 50px;
    }
}