// =================================================================================================================================
// ---------------------------------------------------------------------------------------------------------------------------------
// ACCUEIL

@use 'media' as *;
@use 'mixins' as *;


nav {
    
    @include md {
        display: flex;
        justify-content: space-between;
    } 
}

#openRules, #cleanScores, #openUpdates {

    width: 100%;
    margin: 5px 0 5px;

    @include md {
        width: 35%;
        padding: 15px 0px 15px;
        margin: 10px 10px 0px;
    } 
    
    @include xl {
        width: 15%;
        margin: 20px 20px 0px;
    } 
}

#closeRules, #closeUpdates {

    width: 100%;
    margin: 5px 0 5px;

    @include md {
        width: 35%;
        margin-top: 20px;
    } 
    
    @include xl {
        width: 20%;
    } 
}

.principal {

    @include md {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
    
    @include xl {
        flex-wrap: nowrap;
    } 
}

#rules, #updates {
    background-color: var(--beige-color);
    color: var(--dark-brown-color);
    font-size: var(--font-ideal-size);
    box-shadow: var(--box-shadow);

    &::backdrop {
        background-color: #516d619c;
    }
}

#rules h2 {
    background-color: var(--brown-color);
    color: var(--light-beige-color);
    padding: 10px 0 10px;
    margin-bottom: 100px;
}

.headerUpdates {
    background-color: var(--brown-color);
    color: var(--light-beige-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

#previousUpdate, #nextUpdate {
    background-color: transparent;
    color: var(--light-beige-color);
    cursor: pointer;
    padding: 5px 10px;
    border: none;

    &:hover {
        color: var(--beige-color);
        border: var(--border-beige-double);
    }
}

.version, #versionNumber {
    font-size: 1rem;
}

dialog {

    width: 80%;
    max-height: 85%;

    ul {
        margin: 30px 0 30px;
        padding: 0;
        list-style: none;

        @include md {
            margin: 30px;
        } 
    }

    p {
        margin: 10px;

        @include md {
            margin: 30px;
        } 
    }

    hr {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
        border: var(--border-brown-double);
    }

    @include xl {
        width: 50%;
        max-height: 85%;
    } 
    
}

.context {
    background-color: var(--green-filter-color);
    color: var(--light-beige-color);
    box-shadow: var(--box-shadow);

    padding: 5% 6% 5%;
    margin: 7% 0 20%;

    @include md {
        padding: 20px 90px 20px;
        margin: 50px 0 50px;
    } 

    @include xl {
        padding: 20px 200px 20px;
    } 
}

h1 {
    font-size: 2.5rem;
    
    @include md {
        font-size: 3rem;
    } 
}

.context p {
    font-size: var(--font-medium-size);
    font-size: 1.2rem;

    @include md {
        font-size: 1.5rem;
    }
}