// =================================================================================================================================
// ---------------------------------------------------------------------------------------------------------------------------------
// SPECIAL

.hide {
    display: none;
}

.inactive {
    filter: grayscale(100) !important;
    transform: scale(1) !important;
    cursor: default !important;
    box-shadow: none !important;
}

.fail {
    background-image: url('/assets/img/background/fail.webp');
}

.success {
    background-image: url('/assets/img/background/success.webp');
}

.equal {
    background-image: url('/assets/img/background/equal.webp');
}

.eventGameDisplay.event {
    background-color: var(--beige-filter-color);
    color: var(--dark-brown-color);
}


// =================================================================================================================================
// ---------------------------------------------------------------------------------------------------------------------------------
// KEYFRAMES

@keyframes shadowPulseNormal {
    0% {
		box-shadow: 0 0 0 0 rgb(178, 149, 106, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgb(178, 149, 106, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgb(178, 149, 106, 0);
	}
}